$bg-color: #e2dad6;
$primary-color: #f5eded;
$primary-text: #6482ad;

.content {
    background-color: $bg-color;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content h1 {
    font-size: 48px;
    text-align: center;
}

.content span {
    color: $primary-text;
}

.content #user {
    animation: zoomIn 1.5s ease-out forwards;
}

@keyframes zoomIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.content h3 {
    padding-bottom: 48px;
    text-align: center;
}

.button-group {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.button-group button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 150px;
    background-color: $bg-color;
    color: $primary-text;
    border: 2px solid $primary-text;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
}

.button-group button:hover {
    background-color: $primary-text;
    color: $primary-color;
}

.material-icons {
    color: black;
}

.button-group button:hover .material-symbols-outlined,
.button-group button:hover .material-icons {
    color: $primary-color;
}