$bg-color: #E0E6EF;
$primary-color: #ffffff;
$primary-text: #8DB1E6;

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $bg-color;
}

header {
    padding: 0px 0px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    padding: 10px;
    color: $primary-text;
    cursor: pointer;
}

main {
    display: flex;
    gap: 10px;
    flex: 1;
}

.dynamic-content {
    padding-right: 10px;
    flex: 1;
    overflow: auto;
    scrollbar-gutter: stable;
}