$bg-color: #e2dad6;
$card-color: #f5eded;
$primary-text: #6482ad;

.content {
    // background-color: $bg-color;
    min-height: 100vh;
}
header {
    // background-color: $bg-color;
    padding: 0px 0px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    padding: 10px;
    color: $primary-text;
    cursor: pointer;
}

main {
    display: flex;
}

// aside {
     // background-color: $bg-color;
// }

.dynamic-content {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    // background-color: $bg-color;
}