$bg-color: #e2dad6;
$card-color: #f5eded;
$primary-text: #6482ad;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000000;
  transition: background-color 5000s ease-in-out 0s;
}

.login-container {
  background-color: $bg-color;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 25%;
  background-color: $card-color;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 18px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-card h1, h3 {
  font-weight: 300;
}

.login-card a {
  color: $primary-text;
  text-decoration: none;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

label {
  margin-bottom: 5px;
}

input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 6px 8px;
  border: 1px inset black;
  border-radius: 3px;
  outline: none;
}

input:focus {
    border: 1px inset $primary-text;
    box-shadow: 0 0 5px $primary-text;
}

button {
  background-color: $primary-text;
  color: $card-color;
  font-size: 15px;
  height: 40px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}

//TODO
//IMPLEMENT THE SAME CHANGES AS IN THE REGISTER COMPONENT