<nav>
    <ul>
        <li [routerLink]="['/main/dashboard']"><span class="material-symbols-outlined">dashboard</span>Dashboard</li>
        <li [routerLink]="['/main/analytics']"><span class="material-symbols-outlined">monitoring</span>Analytics</li>
        <li [routerLink]="['/main/calendar']"><span class="material-icons">calendar_month</span>Calendar</li>
        <li [routerLink]="['/main/about']"><span class="material-icons">quiz</span>About</li>
        <hr>
        <li><span class="material-icons">account_circle</span>Profile</li>
        <li><span class="material-icons">logout</span>Logout</li>
    </ul>
</nav>