<div class="register-container">
    <div class="register-card">
        <h1>Sign Up</h1>
        <h3>Create a free account or <a href=""> login </a></h3>

        <form>
            <label for="username">Username</label>
            <input type="text" name="username" required autocomplete="off">

            <label for="email">Email</label>
            <input type="email" name="email" required>

            <label for="password">Password</label>
            <input type="password" name="password" required>

            <button type="submit">Create Account</button>
        </form>
    </div>
</div>