$bg-color: #6482ad33;
$card-color: #ffffff;
$primary-text: #8DB1E6;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000000;
  transition: background-color 5000s ease-in-out 0s;
}

.register-container {
  background-color: $bg-color;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-card {
  width: 420px;
  background-color: $card-color;
  color: black;
  border: 2px solid black;
  box-shadow: 4px 4px;
  padding: 18px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-card h1 {
  font-weight: 400;
}

.register-card h3 {
  font-weight: 350;
}

.register-card a {
  color: $primary-text;
  font-weight: 500;
  text-decoration: none;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 20px;
  margin-bottom: 5px;
}

input {
  width: 100%;
  height: 40px;
  padding: 6px 8px;
  border: 2px inset black;
  border-radius: 3px;
  outline: none;
}

input:focus {
    border: 2px solid black;
    box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}

button {
  color: black;
  background-color: $primary-text;
  border: 2px solid black;
  box-shadow: 4px 4px;
  font-size: 15px;
  height: 40px;
  margin-top: 40px;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.error-message {
  margin-top: 5px;
  margin-bottom: -5px;
  color: red;
}