<div class="register-container">
    <div class="register-card">
        <h1>Sign Up</h1>
        <h3>Create a free account or <a [routerLink]="['/login']">login</a>.</h3>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <label for="username">Username</label>
            <input type="text" name="username" formControlName="username" required autocomplete="off">
            <div *ngIf="registerForm.get('username')?.invalid && (registerForm.get('username')?.touched || registerForm.get('username')?.dirty)" class="error-message">
                <p>Username is required!</p>
            </div>
            
            <label for="email">Email</label>
            <input type="email" name="email" formControlName="email" required>
            <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)" class="error-message">
                <p *ngIf="registerForm.get('email')?.hasError('required')">Email is required!</p>
                <p *ngIf="registerForm.get('email')?.hasError('email')">Please enter a valid email!</p>
            </div>

            <label for="password">Password</label>
            <input type="password" name="password" formControlName="password" required>
            <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)" class="error-message">
                <p *ngIf="registerForm.get('password')?.hasError('required')">Password is required!</p>
                <p *ngIf="registerForm.get('password')?.hasError('minlength')">Password must be at least 8 characters!</p>
                <p *ngIf="registerForm.get('password')?.hasError('maxlength')">Password must be at most 22 characters!</p>
            </div>

            
            <button type="submit" [disabled]="registerForm.invalid">Create Account</button>
            <div *ngIf="errorMessage" class="error-message" style="text-align: center;"> {{ errorMessage }}</div>
        </form>

        
    </div>
</div>